/*
* @Author: fighter
* @Date:   2016-09-29 10:16:39
* @Last Modified by:   Amg
* @Last Modified time: 2016-09-29 13:47:30
*/
html,body,div {
	padding: 0;
	margin: 0;
	border: none;
}
html,body{
	height: 100%;
	overflow: hidden;
}
.main{
	position: relative;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#bgImage{
	position: relative;
	width: 100%;
}
#button {
	position: absolute;
	left: 0;
	right: 0;
	top: 67%;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
    width: 5em;
    padding: 0.5em 1em;
    background: #FDFC01;
    transition:background 600ms;
	-moz-transition:background 600ms; /* Firefox 4 */
	-webkit-transition:background 600ms; /* Safari and Chrome */
	-o-transition:background 600ms; /* Opera */
    border-radius: 0.3em;
	cursor: pointer;
}

#button:hover {
	background: #ff9c00;
}