@import '../css/var';

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
}

.title {
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 1.2em;

  .close {
    position: absolute;
    width: 26px;
    height: 26px;
    background: url('../images/close.png') no-repeat;
    top: 5px;
    right: 5px;
    border: 0;
    opacity: 0.6;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}

.content {
  color: #494a54;
  display: table;
  width: 100%;
  height: 100%;
  line-height: 1.8em;
  padding: 1em;

  .cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.dialog {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: $popupBgColor;
  width: 60%;
  top: 100px;
  left: 50%;
  margin-left: -30%;
}

@media all and (min-width: 1200px) {
  .dialog {
    width: 800px;
    margin-left: -400px;
  }
}