$titleHeight: 26px;
$mainNavHeight: 54px;
$layoutSpace: 4px;
$bodyColor:#131618;


// 默认颜色
//$containerBgColor: #1a1c1e;
//$titleColor: #202427; // 分类标题背景
//$mainNavBgColor: #202427; // 主导航条背景
//$titleTextColor: #fff;
//$textColor: #bbc1c7;


//$navHightColor: #eaa721;
$linkHightColor: #4f9bff;
$popupBgColor: #f0f2f9;
$lightBlue: #4e98fa;
//$red: #ff3d3d;
//$green: #0fc351;
//$subNavBgColor: #2c3239; // 侧边导航按钮

// 紫色

//$icon-prefix: 'yellow';
//$bodyColor: #131618;
//$containerBgColor: #201f2e;
//$titleColor: #382d6f;
//$mainNavBgColor: #202427; // 导航条
//$subNavBgColor: #332940;  // 侧边导航按钮
//
//$titleTextColor: #fff;
//$textColor: #bbc1c7;
//$navHightColor: #eaa721;
//$linkHightColor: #4f9bff;
//$popupBgColor: #f0f2f9;
//$lightBlue: #4e98fa;
//$red: #ff3d3d;
//$green: #0fc351;

// 红色

//$icon-suffix: 'yellow';
//
//$bodyColor: #131618;
//$containerBgColor: #f2f0f1;
//$titleColor: #be2304;
//$mainNavBgColor: #be2304; // 导航条
//$subNavBgColor: #e3e1e2; // 侧边导航按钮
//
//$textColor: #5a5a5a;
//$titleTextColor: #fff;
//$navHightColor: #eaa721;
//$linkHightColor: #ffd75c;
//$popupBgColor: #f0f2f9;
//$lightBlue: #4e98fa;
//$red: #ff3d3d;
//$green: #0fc351;

/**
聊天记录背景颜色
*/
$chat-background: #fff;

/*
聊天记录顶部通告跟QQ咨询背景颜色
*/
$chat-title-highlight: #e9e9f0;

$msgInputHeight:9rem;

